In [1]:
import pandas as pd

In [2]:
##locating and reading the csv file
path="C:/Users/isis1/OneDrive/Documents/Asia_Vaccines.csv"
dataset=pd.read_csv(path)
dataset.head()

,Geographic area,Indicator,Sex,2020,2019,2018,2015
0,Afghanistan,Percentage of live births who received bacille...,Total,87,-,-,-
1,Afghanistan,Percentage of surviving infants who received t...,Total,78,-,-,-
2,Afghanistan,Percentage of surviving infants who received t...,Total,70,-,-,-
3,Afghanistan,Percentage of surviving infants who received t...,Total,70,-,-,-
4,Afghanistan,Percentage of live births who received hepatit...,Total,38,-,-,-

In [3]:
##printing the csv file as a dataframe
print(dataset)

    Geographic area                                          Indicator    Sex  \
0       Afghanistan  Percentage of live births who received bacille...  Total
1       Afghanistan  Percentage of surviving infants who received t...  Total
2       Afghanistan  Percentage of surviving infants who received t...  Total
3       Afghanistan  Percentage of surviving infants who received t...  Total
4       Afghanistan  Percentage of live births who received hepatit...  Total
..              ...                                                ...    ...
579           Yemen  Percentage of newborns protected at birth agai...  Total
580           Yemen  Percentage of surviving infants who received t...  Total
581           Yemen  Percentage of surviving infants who received t...  Total
582           Yemen  Percentage of surviving infants who received t...  Total
583           Yemen  Percentage of surviving infants who received t...  Total

    2020 2019 2018 2015
0     87    -    -    -
1     78    -    -    -
2     70    -    -    -
3     70    -    -    -
4     38    -    -    -
..   ...  ...  ...  ...
579   70    -    -    -
580   72    -    -    -
581   66    -    -    -
582   73    -    -    -
583   68    -    -    -

[584 rows x 7 columns]

In [5]:
##printing the type of attributes
print(dataset.dtypes)

Geographic area    object
Indicator          object
Sex                object
2020               object
2019               object
2018               object
2015               object
dtype: object

In [6]:
## using the describe command to describe the dataset
print(dataset.describe(include="all"))

       Geographic area                                          Indicator  \
count              584                                                584
unique              46                                                 15
top        Philippines  Percentage of surviving infants who received t...
freq                15                                                 46

          Sex 2020 2019 2018 2015
count     584  584  584  584  584
unique      1   65   18    2    2
top     Total   99    -    -    -
freq      584  105  547  583  583

In [8]:
##locating missing values
dataset.isnull().sum()

Geographic area    0
Indicator          0
Sex                0
2020               0
2019               0
2018               0
2015               0
dtype: int64

In [9]:
##locating missing values where the is a symbol "-"
dataset.isin(['-']).sum()

Geographic area      0
Indicator            0
Sex                  0
2020                39
2019               547
2018               583
2015               583
dtype: int64

In [11]:
##deleting columns for our data to have info from 2020
dataset = dataset.drop(dataset.columns[[4, 5, 6]], axis=1) 
dataset.head()

,Geographic area,Indicator,Sex,2020
0,Afghanistan,Percentage of live births who received bacille...,Total,87
1,Afghanistan,Percentage of surviving infants who received t...,Total,78
2,Afghanistan,Percentage of surviving infants who received t...,Total,70
3,Afghanistan,Percentage of surviving infants who received t...,Total,70
4,Afghanistan,Percentage of live births who received hepatit...,Total,38